
*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
   background-color: black; 
}

nav{
    display: flex;
    background-color: crimson;
}

nav a{
    text-decoration: none;
    color: white ;
    display: inline-block;
    padding: 10px;
}

nav a:hover{
    background-color: white;
    color: black;
}

.list{
    flex-grow: 2;
    /* text-align: center; */
}

.brand{
    font-weight: bold;
    border-right: 3px solid white;
}


.ad{
    background-color: rgb(121, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    height: 100vh;
    background-image: url(../images/food-banner.png.crdownload);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}


.ad h1{
    font-size: 55px;
}

.ad p {
    width: 450px;
}


@media screen and (max-width: 460px) {
       
    .ad{
     padding-left: 10px;
     height: 50vh;
    }
 
    .brand{
        display: none;
    }

 .ad h1{
     font-size: 20px;
 }
 
 .ad p {
    font-size: 14px;
    width: 15rem;
 }
 }


 .menue{
    padding-left:  5rem;
    padding-top: 20px;
 }

 .menue>header{
    padding-bottom: 15px;
 }

 .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .discount{
    position: absolute;
    display: inline-blocks;
    top: 0px;
    right: 0px;
    background-color: rgba(131, 31, 51, 0.756);
    padding: 5px;
 }


 .card>img{
    max-width: 100%;
 }

.card-container{
    margin: 5px;
}

.card{
    border: 1px solid crimson;
    max-width: 300px;
    position: relative;

}

.card-body{
    margin: 15px;
}

.cart{
    display: flex;
    justify-content: space-around;
}

.price{
    color: rgb(56, 206, 6);
    font-weight: bold;
}

.add{

}
/* 
.list a{

    padding: 2px;
} */