
*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
   background-color: black; 
}

nav{
    display: flex;
    background-color: crimson;
}

nav a{
    text-decoration: none;
    color: white ;
    display: inline-block;
    padding: 10px;
}

nav a:hover{
    background-color: white;
    color: black;
}

.list{
    flex-grow: 2;
    /* text-align: center; */
}

.brand{
    font-weight: bold;
    border-right: 3px solid white;
}


.ad{
    background-color: rgb(121, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    height: 70vh;
    background-image: url(../images/food-banner.png.crdownload);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}


.ad h1{
    font-size: 55px;
}

.ad p {
    width: 450px;
}


@media screen and (max-width: 460px) {
       
    .ad{
     padding-left: 10px;
     height: 50vh;
    }
 
    .brand{
        display: none;
    }

 .ad h1{
     font-size: 20px;
 }
 
 .ad p {
    font-size: 14px;
    width: 15rem;
 }
 }
/* 
.list a{

    padding: 2px;
} */